body {
  margin: 0 0;
  width: 470px;
}

.header {
  height: 45px;
  width: 460px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.header .back {
  cursor: pointer;
}

.content {
  padding-top: 55px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  height: 100vh;
  width: 100vw;
  min-height: 400px;
  background-color: rgba(255, 255, 255, 0.8);
}

.overlay-content {
  position: fixed;
  z-index: 21;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.app .content {
  min-height: 600px;
}

.splash .logo {
  width: 200px;
}

.splash .loading {
  width: 30px;
  padding-top: 20px;
}

.splash.overlay {
  background-color: white;
}

em {
  font-style: normal;
  background-color: #ffff00;
}

.small-text {
  font-size: 12px;
  font-weight: lighter;
}

.copy-btn {
  font-size: 0.6rem;
  line-height: 0.75;
  position: absolute;
  right: 0;
  transform: translateX(-50%);
}

.cursor {
  cursor: pointer;
}

.list-item-email {
  margin-right: 50px !important;
  position: relative;
  overflow: hidden;
}

.list-item-email > a {
  white-space: nowrap;
}

.list-item-email-fade {
  right: 0;
  width: 30px;
  height: 100%;
  background: linear-gradient(to right, transparent, white);
  top: 0;
  position: absolute;
}