em {
  font-style: normal;
  background-color: #ffff00;
}

.small-text {
  font-size: 12px;
  font-weight: lighter;
}

.copy-btn {
  font-size: 0.6rem;
  line-height: 0.75;
  position: absolute;
  transform: translateX(-100%);
}
.cursor {
  cursor: pointer;
}

.list-item-email {
  overflow-x: hidden;
  margin-right: 40px !important;
  position: relative;
}

.list-item-email-fade {
  right: 0;
  width: 30px;
  height: 100%;
  background: linear-gradient(to right, transparent, white);
  top: 0;
  position: absolute;
}