.app .content {
  scrollbar-width: thin;
}

.content::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

.content::-webkit-scrollbar {
  width: 0.6em;
}

.content::-webkit-scrollbar-thumb {
  background: transparent;
  border: solid 2px transparent;
  box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}